<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Model visualization</title>

        <style type="text/css">{{ readFile(vis_css_src) }}</style>
        <style type="text/css">
            #mynetwork {
                width: 900px;
                height: 800px;
                border: 1px solid lightgray;
            }
      </style>
    </head>
    <body onload="draw()">
        <div id="mynetwork"></div>

        <script type="text/javascript">{{ readFile(vis_js_src) }}</script>
        <script type="text/javascript">
        var LENGTH_MAIN = 350,
            LENGTH_SERVER = 150,
            LENGTH_SUB = 50,
            WIDTH_SCALE = 2,
            GREEN = 'green',
            RED = '#C5000B',
            ORANGE = 'orange',
            GRAY = 'gray',
            BLACK = '#2B1B17'

        // Called when the Visualization API is loaded.
        function draw() {
            // Create a data table with nodes.
            let nodes = []

            // Create a data table with links.
            let edges = []

            {% for node in nodes %}
            nodes.push({
                id: {{ node.id }},
                label: "{{ node.arguments[display_parameters[node.type].label] }}",
                title: `{{ displayArgs(node.arguments) }}`,
                group: "{{ node.type }}",
                value: 1,
                size: 150,
                'font': {'size': 18}
            })
            {% endfor %}

            {% for node in nodes %}
                {{ addEdge(node) }}
            {% endfor %}

            // create a network
            var container = document.getElementById('mynetwork')
            var data = {
                nodes: nodes,
                edges: edges
            }
            var options = {
                /*nodes: {
                    scaling: {
                        min: 16,
                        max: 32
                    }
                },*/
                edges: {
                    color: GRAY,
                    smooth: true
                },
                /*physics: {
                    barnesHut:{gravitationalConstant:-10000},
                    stabilization: {iterations:2500}
                },*/
                groups: {
                    {% for itemtype, params in display_parameters %}
                    {{ itemtype }}: {
                        shape: "box",
                        color: "{{ params.color }}"
                    },
                    {% endfor %}
                }
            }
            let network = new vis.Network(container, data, options)
        }
        </script>
    </body>
</html>
