<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Model visualization</title>

        <style type="text/css">{{ readFile(vis_css_src) }}</style>
        <style type="text/css">
            html, body {
                width: 100%;
                height: 100%;
            }
            #mynetwork {
                display: block;
                width: 98%;
                height: 98%;
                border: 1px solid lightgray;
            }
      </style>
    </head>
    <body onload="draw()">
        <div id="mynetwork"></div>

        <script type="text/javascript">{{ readFile(vis_js_src) }}</script>
        <script type="text/javascript">
            // Called when the Visualization API is loaded.
            function draw() {
                let data = {
                    nodes: [],
                    edges: []
                }

                // Add nodes
                {% for node in nodes %}
                data.nodes.push({
                    id: {{ node.id }},
                    label: "{{ node.arguments[display_parameters[node.type].label] }}",
                    title: `{{ displayArgs(node.arguments) }}`,
                    group: "{{ node.type }}",
                    'font': {'size': 18}
                })
                {% endfor %}

                // Add edges
                {% for node in nodes %}
                    {{ addEdge(node) }}
                {% endfor %}

                let options = {
                    groups: {
                        {% for itemtype, params in display_parameters %}
                        {{ itemtype }}: {
                            shape: "box",
                            color: "{{ params.color }}"
                        },
                        {% endfor %}
                    }
                }

                // create a network
                let container = document.getElementById('mynetwork')
                let network = new vis.Network(container, data, options)
            }
        </script>
    </body>
</html>
